[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
numpy = "*"
sympy = "*"
matplotlib = "*"
ipykernel = "*"
ipython = "*"
jupyterthemes = "*"
plotly = "*"
chart-studio = "*"

[requires]
python_version = "3.7"
